@font-face {
  font-family: "ТТ Lakes";
    src: url("/fonts/TTLakesCondensed-Regular.eot") format("eot"), 
      url("/fonts/TTLakesCondensed-Regular.woff") format("woff"),
      url("/fonts/TTLakesCondensed-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "ТТ Lakes-Bold";
    src: url("/fonts/TTLakes-Bold.eot") format("eot"), 
        url("/fonts/TTLakes-Bold.woff") format("woff"),
        url("/fonts/TTLakes-Bold.ttf") format("ttf");
    }
    
    html, body {
      width: 100%;
      height: 100%;
      font-family: "ТТ Lakes";

    }
    .container {
      padding: 24px 16px;
      background: #F8F8F8;
      margin: 0;
    }
  .header {
      padding: 42px 16px;
      display: flex;
      background: #fff;
    }
    
   @media (min-width: 1119px) {
      .header {
        display: none;
      }
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
      }
      .title__nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
      .title__nav_item1 {
          margin-left: 450px;
      }
      .title__nav_item2 {
          margin-left: 8px;
      }
      .title__nav_item3 {
          margin-left: 32px;
      }
      .title__nav_item4 {
          margin-left: 8px;
      }
      .content_text{
        width: 490px;
        height: 160px;
        top: 188.22px;
        left: 35px;
      }
      .content__img {
        width: 531px;
        height: 383px;
        margin-top: 140px;
        flex-grow: 1;
      }
      .content {
          display: flex;
          justify-content: space-around;
      }
  }

  @media (min-width: 767px) and (max-width: 1118px) {
    .header__burger {
        border-right: 1px solid #eaeaea;
        padding-right: 20px;
    }
    .header__logo {
        border-right: 1px solid #fff;
        padding-left: 21px;
    }
    .header__call {
      padding-left: 240px;
    }
    .header__chat {
      padding-left: 16px;
    }
    .header__profile {
        border-right: 1px solid #eaeaea;
        padding-left: 16px;
        padding-right: 20px;
    }
    .header__repair {
        padding-left: 20px;
    }
    .header__checkstatus {
        display: block;
        padding-left: 16px;
    }
    .header__icon {
      display: flex;
      justify-content: space-around;
    }
    
    .title__nav {
        display: none;
    }
    .content {
        display: flex;
    }
}
@media (min-width: 318px) and (max-width: 766px) {
  .header__burger {
      border-right: 1px solid #fff;
      margin-right: 10px;
  }
  .header__logo {
      border-right: 1px solid #eaeaea;
      padding-right: 10px;
  }
  .header__call {
      display: none;
  }
  .header__chat {
      display: none;
  }
  .header__profile {
      display: none;
  }
  .header__repair {
      padding-left: 10px;
  }
  .header__checkstatus {
      padding-left: 10px;
  }
  .title__nav {
      display: none;
  }
   .content_img {
      width: 320px;
      height: 230px;
  }
}

.title__text {
  color: #1B1C21;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px;
  border-left: 6px solid  #41F6D7;
  border-radius: 5px;
}
.scroll {
  width: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.scroll__card {
  display: flex;
  overflow-x: auto;
  }

.scroll__card_content {
  text-align: center;
  width: 246px;
  padding: 8px 12px;
  color: #7E7E82;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  white-space: nowrap;
  border: 2px solid #f8f8f8;
}
.scroll__card_content:hover {
  border-radius: 6px;
  border: 2px solid #B8FFEC;
  background: #FFF;
}
.content__text {
  min-width: 288px;
  flex: 1 50%;
}
.content__img {
  flex: 1 50%;
}
.title__text {
  font-family: "ТТ Lakes-Bold";
}